html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: #06e569;
  background: linear-gradient(to right, #06e569, #0ee26e);
}
